@charset "UTF-8";

body{
	margin: 20px;
	font-size:14px;
}

table{
	border: solid 1px #84b2e0;
	border-collapse: collapse;
}

th{
	text-align: center;
	color:white;
	background: linear-gradient(#829ebc,#225588);
	box-shadow: 0px 1px 1px rgba(255,255,255,0.3)inset;
	padding: 4px 10px;
}

td{
	padding: 4px 10px;
	border: solid 1px #84b2e0
}

button {
	width: 90px;
	margin:10px 4px;
	padding: 4px;
}

.red{
	color: red;
}
#nav{
	list-style: none;
	display: flex;
	padding: 0px;
}
#nav li{
	margin-right: 10px;
}

/*操作メッセージ用*/
.va{
	vertical-align: middle;
}
.info_msg{
	margin-bottom: 0.75em;
	padding: 0.75em lem;
	width: 50%;
	color: bule;
	background-color: #dfefff;
	border:1px solid #379bff;
	border-radius:8px;
}
.warn_msg{
	margin-bottom: 0.75em;
	padding: 0.75em lem;
	width: 50%;
	color: bule;
	background-color: #ffffc6;
	border:1px solid #ff8040;
	border-radius:8px;
}
.err_msg{
	margin-bottom: 0.75em;
	padding: 0.75em lem;
	width: 50%;
	color: bule;
	background-color: #ffe6e6;
	border:1px solid #ff8080;
	border-radius:8px;
}