<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<link th:href="@{/css/sign.css}" rel="styleSheet" type="text/css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
<title>Getting Started: Portfolio login</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
	<!--メッセージエリア  -->
	<div th:replace="~{fragments::msg_area}"></div>
	<div class="form-main">
	 <main class="form-signin w-100 m-auto">
		<form th:action="@{/login/do}" method="post" th:object="${loginData}">
			<h1 class="h3 mb-3 fw-normal">Please sign in</h1>

	<!--Id  -->
			<div class="form-floating">
				<input type="text" class="form-control" name="loginId"> 
				<div th:if="${#fields.hasErrors('loginId')}" th:errors="*{loginId}" th:errorclass="red"></div>
	<!-- パスワード -->
			</div>
			<div class="form-floating">
				<input type="text" class="form-control" name="password"> 
				<div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" th:errorclass="red"></div>
			</div>

			<button class="w-100 btn btn-lg btn-primary" type="submit" th:text="#{button.login}"></button>
			<a th:href="@{/regist}" th:text="#{text.register}"></a>
			<p class="mt-5 mb-3 text-muted"></p>
		</form>
	</main>
	</div>
</body>
</html>